.categories-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.category-search-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-search {
  display: flex;
  gap: 20px;
  align-items: center;
  background: #c2bcbc;
  padding: 10px 20px;
  border-radius: 10px;
  width: 40%;
  justify-content: space-between;
}
.search-input {
  background: none;
  width: 100%;
  outline: none;
  color: #000;
}
.search-input::placeholder {
  color: #000;
}
.search-icon {
  color: #000;
  font-size: 25px;
}
.add-btn {
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #000;
  transition: all 0.3s ease;
}
.add-btn:hover {
  background: #fff;
  color: #000;
}
.category-table {
  width: 100%;
}
.category-table .categories {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}
.category-thead {
  background: #000;
  color: #fff;
}
.category-thead tr th {
  padding: 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
/* tbody */
.categories tbody {
  background: #6c6b68;
}

.categories tbody tr {
  border-bottom: 1px solid #b1afac;
}

.categories tbody tr:hover {
  background: #b1afac;
}

.categories tbody tr:last-child {
  border-bottom: none;
}

.categories tbody tr td {
  padding: 15px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

/* actions qismi */
.actions-td button {
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease;
}
.actions-td .edit-btn {
  background: #eea507;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.actions-td .delete-btn {
  background: #ff0000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
